.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.header-card {
  background-color: rgb(69, 230, 235);
  text-align: center;
}

.one-card {
  width: 500px;
  margin-right: 10px;
  color: black;
}

.single-job-card {
  margin-top: 15px;
  height: 200px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.add-job-card {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 400px;
  height: 200px;
}

.add-job.btn {
  margin-bottom: 50px;
}

.applied-card {
  background-color: aqua;
}
